.gallery-container{
    text-align:center;
    font-size: 0;
    width: 100%;
    display: block;
    &:after {
        content: '';
        width: 100%;
        height: 0;
        display: block;
        clear: both;
    }
    .gallery-parent{
        font-size: 16px;
        padding: 5px;
        display: inline-block;
        vertical-align: top;
        box-sizing: border-box;
        .custom-gallery-item{
            background: white;
            border-radius: 5px;
            border: 1px solid #dbdbdb;
            overflow:hidden;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            transition: all .3s;
            height:100%;
            font-size: 0;
            /* images inside wp-gallery */
            .custom-gallery-image {
                width: 100%;
                height: auto;
                background: #f1f1f1;
                display:inline-block;
                position: relative;
                img {
                    width:100%;
                    height:100%;
                    margin: auto;
                    padding: 0;
                    display:inline-block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                }
                &:after {
                    content: "";
                    display:block;
                    padding-top: 100%;
                }
            }
            .custom-gallery-video {
                width: 100%;
                height: auto;
                background: #f1f1f1;
                display:inline-block;
                position: relative;
                iframe {
                    display:inline-block;
                    position: absolute;
                    margin: auto;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    max-width: 100%;
                    max-height: 100%;
                }
                &:after {
                    content: "";
                    display:block;
                    padding-top: 100%;
                }
            }
            .custom-gallery-title {
                font-size: 16px;
                color: #1b1b1b;
                padding: 7px 10px 0 10px;
                font-weight: 600;
                overflow:hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            .custom-gallery-subtitle {
                font-size: 14px;
                color: #5c6b80;
                padding: 0 10px;
                overflow:hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            .custom-gallery-caption {
                font-size: 14px;
                padding: 7px 10px;
                display:block;
                width: 100%;
                background: transparent;
                color: #343434;
            }
            &:hover {
                border: 1px solid #b6b6b6;
                cursor:pointer;
                -webkit-box-shadow: 0px 3px 20px -6px rgba(0,0,0,0.6);
                -moz-box-shadow: 0px 3px 20px -6px rgba(0,0,0,0.6);
                box-shadow: 0px 3px 20px -6px rgba(0,0,0,0.6);
                transition: all .3s;
            }
        } /* end .custom-gallery */
    }
}

@mixin grid-col {
  display: inline-block;
  margin: 0;
  padding-right: 0.75em;
}

// the last column
.last-col {
  float: right;
  padding-right: 0 !important;
}

@media (max-width: 767px) {

  .cg-m-1of1 {
    @include grid-col;
    width: 100%;
    padding-right: 0;
  }

  .cg-m-1of2 {
    @include grid-col;
    width: 50%;
  }

  .cg-m-1of3 {
    @include grid-col;
    width: 33.33%;
  }


} // end mobile styles


/* Portrait tablet to landscape */
@media (min-width: 768px) and (max-width: 1029px) {

  .cg-t-1of1 {
    @include grid-col;
    width: 100%;
    padding-right: 0;
  }

  .cg-t-1of2 {
    @include grid-col;
    width: 50%;
  }

  .cg-t-1of3 {
    @include grid-col;
    width: 33.33%;
  }

  .cg-t-1of4 {
    @include grid-col;
    width: 25%;
  }

  .cg-t-1of5 {
    @include grid-col;
    width: 20%;
  }
} // end tablet

/* Landscape to small desktop */
@media (min-width: 1030px) {

  .cg-d-1of1 {
    @include grid-col;
    width: 100%;
    padding-right: 0;
  }

  .cg-d-1of2 {
    @include grid-col;
    width: 50%;
  }

  .cg-d-1of3 {
    @include grid-col;
    width: 33.33%;
  }

  .cg-d-1of4 {
    @include grid-col;
    width: 25%;
  }
  .cg-d-1of5 {
    @include grid-col;
    width: 20%;
  }
  .cg-d-1of6 {
    @include grid-col;
    width: 16.6666666667%;
  }
} // end desktop styles
