/* line 1, ../sass/cappu_gallery_main.scss */
.gallery-container {
  text-align: left;
  font-size: 0;
  width: 100%;
  display: block;
}
/* line 6, ../sass/cappu_gallery_main.scss */
.gallery-container:after {
  content: '';
  width: 100%;
  height: 0;
  display: block;
  clear: both;
}
/* line 13, ../sass/cappu_gallery_main.scss */
.gallery-container .gallery-parent {
  font-size: 16px;
  padding: 5px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  /* end .custom-gallery */
}
/* line 19, ../sass/cappu_gallery_main.scss */
.gallery-container .gallery-parent .custom-gallery-item {
  background: white;
  border-radius: 5px;
  border: 1px solid #dbdbdb;
  overflow: hidden;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  transition: all .3s;
  height: 100%;
  /* images inside wp-gallery */
}
/* line 30, ../sass/cappu_gallery_main.scss */
.gallery-container .gallery-parent .custom-gallery-item .custom-gallery-image {
  width: 100%;
  height: 200px;
  background: #f1f1f1;
  display: inline-block;
  position: relative;
}
/* line 36, ../sass/cappu_gallery_main.scss */
.gallery-container .gallery-parent .custom-gallery-item .custom-gallery-image img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  padding: 0;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
/* line 51, ../sass/cappu_gallery_main.scss */
.gallery-container .gallery-parent .custom-gallery-item .custom-gallery-video {
  width: 100%;
  height: 200px;
  background: #f1f1f1;
  display: inline-block;
  position: relative;
}
/* line 57, ../sass/cappu_gallery_main.scss */
.gallery-container .gallery-parent .custom-gallery-item .custom-gallery-video iframe {
  display: inline-block;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  max-width: 100%;
  max-height: 100%;
}
/* line 69, ../sass/cappu_gallery_main.scss */
.gallery-container .gallery-parent .custom-gallery-item .custom-gallery-title {
  font-size: 16px;
  color: #1b1b1b;
  padding: 7px 10px 0 10px;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 78, ../sass/cappu_gallery_main.scss */
.gallery-container .gallery-parent .custom-gallery-item .custom-gallery-subtitle {
  font-size: 14px;
  color: #5c6b80;
  padding: 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 86, ../sass/cappu_gallery_main.scss */
.gallery-container .gallery-parent .custom-gallery-item .custom-gallery-caption {
  font-size: 14px;
  padding: 7px 10px;
  display: block;
  width: 100%;
  background: transparent;
  color: #343434;
}
/* line 94, ../sass/cappu_gallery_main.scss */
.gallery-container .gallery-parent .custom-gallery-item:hover {
  border: 1px solid #b6b6b6;
  cursor: pointer;
  -webkit-box-shadow: 0px 3px 20px -6px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 3px 20px -6px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 3px 20px -6px rgba(0, 0, 0, 0.6);
  transition: all .3s;
}

/* line 112, ../sass/cappu_gallery_main.scss */
.last-col {
  float: right;
  padding-right: 0 !important;
}

@media (max-width: 767px) {
  /* line 119, ../sass/cappu_gallery_main.scss */
  .cg-m-1of1 {
    float: left;
    padding-right: 0.75em;
    width: 100%;
    padding-right: 0;
  }

  /* line 125, ../sass/cappu_gallery_main.scss */
  .cg-m-1of2 {
    float: left;
    padding-right: 0.75em;
    width: 50%;
  }

  /* line 130, ../sass/cappu_gallery_main.scss */
  .cg-m-1of3 {
    float: left;
    padding-right: 0.75em;
    width: 33.33%;
  }
}
/* Portrait tablet to landscape */
@media (min-width: 768px) and (max-width: 1029px) {
  /* line 142, ../sass/cappu_gallery_main.scss */
  .cg-t-1of1 {
    float: left;
    padding-right: 0.75em;
    width: 100%;
    padding-right: 0;
  }

  /* line 148, ../sass/cappu_gallery_main.scss */
  .cg-t-1of2 {
    float: left;
    padding-right: 0.75em;
    width: 50%;
  }

  /* line 153, ../sass/cappu_gallery_main.scss */
  .cg-t-1of3 {
    float: left;
    padding-right: 0.75em;
    width: 33.33%;
  }

  /* line 158, ../sass/cappu_gallery_main.scss */
  .cg-t-1of4 {
    float: left;
    padding-right: 0.75em;
    width: 25%;
  }

  /* line 163, ../sass/cappu_gallery_main.scss */
  .cg-t-1of5 {
    float: left;
    padding-right: 0.75em;
    width: 20%;
  }
}
/* Landscape to small desktop */
@media (min-width: 1030px) {
  /* line 172, ../sass/cappu_gallery_main.scss */
  .cg-d-1of1 {
    float: left;
    padding-right: 0.75em;
    width: 100%;
    padding-right: 0;
  }

  /* line 178, ../sass/cappu_gallery_main.scss */
  .cg-d-1of2 {
    float: left;
    padding-right: 0.75em;
    width: 50%;
  }

  /* line 183, ../sass/cappu_gallery_main.scss */
  .cg-d-1of3 {
    float: left;
    padding-right: 0.75em;
    width: 33.33%;
  }

  /* line 188, ../sass/cappu_gallery_main.scss */
  .cg-d-1of4 {
    float: left;
    padding-right: 0.75em;
    width: 25%;
  }

  /* line 192, ../sass/cappu_gallery_main.scss */
  .cg-d-1of5 {
    float: left;
    padding-right: 0.75em;
    width: 20%;
  }

  /* line 196, ../sass/cappu_gallery_main.scss */
  .cg-d-1of6 {
    float: left;
    padding-right: 0.75em;
    width: 16.6666666667%;
  }
}
